* {
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #f6f8fc;
}

.content {
    padding: 1rem;
    background-color: #fff;
    height: 100vh;
}

.content h1{
  text-align: center
}



@media screen and (min-width: 992px) {
  .content{
    max-width: 992px;
    margin: 1rem auto;
    height: 100vh;
    border-radius: 1rem;
  }
}

